* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #f5f7fb;
  color: #222;
}

/* NAVBAR */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: #0f172a;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 15px 60px;
  z-index: 1000;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 25px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.logo {
  font-weight: 700;
}

/* HERO */
.hero {
  height: 100vh;
  background: linear-gradient(to right, #1e3a8a, #0f172a);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 60px;
}

.hero h1 {
  font-family: 'Playfair Display', serif;
  font-size: 3.5rem;
}

.hero h3 {
  margin: 15px 0;
  font-weight: 400;
}

.btn {
  margin-top: 25px;
  padding: 12px 30px;
  background: #38bdf8;
  color: black;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 600;
}

/* SECTIONS */
.section {
  padding: 80px 10%;
}

.dark {
  background: #0f172a;
  color: white;
}

.section-title {
  font-size: 2.3rem;
  margin-bottom: 30px;
  text-align: center;
}

/* SKILLS */
.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.skill-box {
  background: #1e293b;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
}

/* PROJECTS */
.project-card {
  background: white;
  padding: 25px;
  border-radius: 15px;
  margin-bottom: 30px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.project-card a {
  color: #2563eb;
  font-weight: bold;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: #020617;
  color: white;
}
